<div class="container">
  <div>
    <p class='mt-5 justify-center new-list'><%= link_to 'Create a watchlist', new_watchlist_path, target: "_blank"%></p>
    <div class='container'>

    </div>
  </div>

  <div class="row mt-5 justify-content-between">
    <% @watchlists.sort.reverse.each do |list| %>
      <div class="col-4 mt-3">

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image%>)">

          <%= link_to "Delete", watchlist_path(list), method: :delete, data: { confirm: "Are you sure?" } %>
          <%= link_to"#{list.name}", watchlist_path(list),  target: "_blank" %>

        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Home', root_path %>
